<!DOCTYPE html>
    <html>
        <body>
        <h1>{{ player }}'s turn to play</h1>
        <form method="post" action="http://localhost:5000/">
        {% for i in range(0, 3) %}
            <p>
            {% for j in range(0, 3) %}
                {% set testing =  positions[i][j]  %}
                {% set iter=i|string+j|string  %}
                {% if testing == 0 %}
                    <button name="sub" type="submit" value="{{ iter }}" >..</button>
                {% else %}
                    <button type="submit"  disabled>{{testing}}</button>
                {% endif %}
            {% endfor %}
            </p>
        {% endfor %}
        </form>
        </body>
    </html>