{% extends "layout.html" %}
{% block status %}
<h1>{{ player }}'s turn to play</h1>
<h2>{{ user }}</h2>
<h3>"/play/{{ user }}"</h3>


{% endblock %}
{% block content %}
<form method="post" action="/play/{{ user }}">
        {% for i in range(0, no_of_rows) %}
            <p>
            {% for j in range(0, no_of_columns) %}
                {% set testing =  positions[i][j]  %}
                {% set iter=(i*no_of_columns+j)|string  %}
                {% if testing == 0 %}
                    <button name="sub" type="submit" value="{{ iter }}" >..</button>
                {% else %}
                    <button type="submit"  disabled>{{testing}}</button>
                {% endif %}
            {% endfor %}
            </p>
        {% endfor %}
    </form>

            <p></p>
            <p></p>
<form method="post" action="/reset">
            <button name="sub" type="submit" value="Reset" >Reset</button>
 </form>
<form method="post" action="/switch">
            {% if enable == 1 %}
                <button name="sub" type="submit" value="Switch" >Switch</button>
            {% else %}
                <button name="sub" type="submit" value="Switch" disabled>Switch</button>
            {% endif %}
</form>
{% endblock %}
