{% extends "layout.html" %}
{% block content %}
        <h1>{{ player }}'s turn to play</h1>
        {% for i in range(0, no_of_rows) %}
            <p>
            {% for j in range(0, no_of_columns) %}
                {% set testing =  positions[i][j]  %}
                {% set iter=(i*no_of_columns+j)|string  %}
                {% if testing == 0 %}
                    <button name="sub" type="submit" value="{{ iter }}" >..</button>
                {% else %}
                    <button type="submit"  disabled>{{testing}}</button>
                {% endif %}
            {% endfor %}
            </p>
        {% endfor %}
            <p></p>
            <p></p>
            <button name="sub" type="submit" value="Reset" >Reset</button>
            {% if enable == 1 %}
                <button name="sub" type="submit" value="Switch" >Switch</button>
            {% else %}
                <button name="sub" type="submit" value="Switch" disabled>Switch</button>
            {% endif %}

{% endblock %}