<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/game.js') }}"></script>
</head>
<body onload="javascript:onLoad()" class="game-page-body">
<div class="play-container">
<div class="play-area" id="board">

<div id="a" class="cell" onclick="onPlay(0) ;">-</div><div id="b" class="cell" onclick="onPlay(1);">-</div><div id="c" class="cell" onclick="onPlay(2);">-</div>

<div id="d" class="cell" onclick="onPlay(3);">-</div><div id="e" class="cell" onclick="onPlay(4);">-</div><div id="f" class="cell" onclick="onPlay(5);">-</div>

<div id="g" class="cell" onclick="onPlay(6);">-</div><div id="h" class="cell" onclick="onPlay(7);">-</div><div id="i" class="cell" onclick="onPlay(8);">-</div>

</div>
</div>

<div>
<p>
<span><button onclick="onReset(value)" class="btn btn_ghost">Reset</button></span>
<span><button onclick="onRelinquish(value)" class="btn btn_ghost">Relinquish</button></span>
<span><button onclick="onHome()" class="btn btn_full">Home</button></span>
</p>
</div>
<div class="game_info">
<div><span>Room ID:</span>{{room_id}}</div>
<div id="id"></div>
<div id="message"></div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="popup-container">
            <i id="modal-icon" class="popup-badge fab fas "></i>
            <p id="modal-text" class="popup-text " ></p>
        </div>
    </div>

</div>

</body>
</html>