<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .cell {

           cursor: pointer;
           display: inline-block;
           width: 200px;
           height: 10px;
           border: 5px solid red;
           padding: 0px;
           margin: 0px; width:10px

        }
    </style>
</head>
<body onload="javascript:onLoad()">
<script>
var retrievedObject = localStorage.getItem('token')


var room_id = '{{room_id}}';


function onPlay(value) {
    var payload = {'cell': value};
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
            render(this.responseText);
        }
    };
    xmlhttp.open("POST","/games/"+room_id+"/play", true);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.setRequestHeader('Authorization',"Bearer "+ localStorage.getItem("token"+room_id));
    xmlhttp.send(JSON.stringify(payload));
}

function onReset(value) {
  alert(value)
  console.log(value)
}

function onRelinquish(value) {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
            render(this.responseText);
        }
    };
    xmlhttp.open("POST","/games/"+room_id+"/relinquish-first-turn", true);
    xmlhttp.setRequestHeader('Authorization',"Bearer "+ localStorage.getItem("token"+room_id));
    xmlhttp.send();



}


function onReset(value) {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
            render(this.responseText);
        }
    };
    xmlhttp.open("POST","/games/"+room_id+"/reset", true);
    xmlhttp.setRequestHeader('Authorization',"Bearer "+ localStorage.getItem("token"+room_id));
    xmlhttp.send();


}

function onHome() {
    location.replace("/")
}

function convert(x) {
    if(x == '0' || x == 0){
        return ' '
    }
    return x
}

function render(response){
    var myObj = JSON.parse(response);
    document.getElementById("a").innerHTML = convert(myObj.board[0][0]);
    document.getElementById("b").innerHTML = convert(myObj.board[0][1]);
    document.getElementById("c").innerHTML = convert(myObj.board[0][2]);
    document.getElementById("d").innerHTML = convert(myObj.board[1][0]);
    document.getElementById("e").innerHTML = convert(myObj.board[1][1]);
    document.getElementById("f").innerHTML = convert(myObj.board[1][2]);
    document.getElementById("g").innerHTML = convert(myObj.board[2][0]);
    document.getElementById("h").innerHTML = convert(myObj.board[2][1]);
    document.getElementById("i").innerHTML = convert(myObj.board[2][2]);
    var message = "";

    if(myObj.is_draw){
        message = "The game is draw";
    }else if(myObj.who_won != null){
        message = myObj.who_won+" won the game";
    }else{
        message = myObj.player_to_play + "'s turn to play";
    }

    document.getElementById("message").innerHTML = message;
    document.getElementById("id").innerHTML = "You are "+convert(myObj.id);
    console.log(message);

}


function refresh() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
            render(this.responseText);
        }
    };
    xmlhttp.open("GET","/games/"+room_id, true);
    xmlhttp.setRequestHeader('Authorization',"Bearer "+ localStorage.getItem("token"+room_id));
    xmlhttp.send();
}

function onLoad() {
    refresh();
    setInterval(function(){ refresh(); }, 1500);
}

</script>



<div><span>Room ID:</span>{{room_id}}</div>
<div id="id"></div>
<div id="message"></div>


<div>

<div id="a" class="cell" onclick="onPlay(0) ;">-</div><div id="b" class="cell" onclick="onPlay(1);">-</div><div id="c" class="cell" onclick="onPlay(2);">-</div>
<div></div>
<div id="d" class="cell" onclick="onPlay(3);">-</div><div id="e" class="cell" onclick="onPlay(4);">-</div><div id="f" class="cell" onclick="onPlay(5);">-</div>
<div></div>
<div id="g" class="cell" onclick="onPlay(6);">-</div><div id="h" class="cell" onclick="onPlay(7);">-</div><div id="i" class="cell" onclick="onPlay(8);">-</div>

</div>


<div>
<p>
<span><button onclick="onReset(value)">Reset</button></span>
<span><button onclick="onRelinquish(value)">Relinquish</button></span>
<span><button onclick="onHome()">Home</button></span>

</p>
</div>
</body>
</html>