<!DOCTYPE html>
<html>
    <body>

<script>
  function onCreate() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4) {
     var data = JSON.parse(this.responseText);
     window.location.href = "/ui/games/" + data.room_id
     }
  };
  xhttp.open("POST", "/games", true);
  xhttp.send();
}

function OnJoin() {
    var textcontrol = document.getElementById("txtname");
    var room_id = textcontrol.value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            window.location.href = "/ui/games/" + room_id
        }
        if (this.readyState == 4 && this.status == 404) {
            textcontrol.value = '';
            document.getElementById("demo").innerHTML = "No such room exists";
        }
    };
    xhttp.open("GET", "/games/"+room_id, true);
    xhttp.send();
}


</script>
<button onclick="onCreate()">Create Room</button>
<br><br><br><br>
<input type="text" id="txtname" />
<br><br>
    <input type="button" id="btnsubmit" onclick="OnJoin()" value="Join Room" />


    <div id="demo"></div>
    </body>
</html>