<!DOCTYPE html>
<html>
    <body>
<script>
  function onCreate() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4) {
     var data = JSON.parse(this.responseText);
     window.location.href = "/ui/games/" + data.room_id
     }
  };
  xhttp.open("POST", "/games", true);
  xhttp.send();
}







function onJoin() {
  //read the text box for room id
  //Call the get games end point to check if the room exists (ajax)
  //If the room exists navigate to the room path
  //else remove the content of the text box and display an error message
  window.location.href = "/ui/games/abc"
}
</script>
                <input type="text" id="fname" name="fname"><br><br>

                <button onclick="onCreate()">Create Room</button>
                <button onclick="onJoin()">Join Room</button>




    </body>
</html>