<!DOCTYPE html>
<html>
<head>
<title>JavaScript</title>
<script>


function OnPlay() {
  var x = document.forms["Join a Room"]["joinaroom"].value;
  console.log(x);
  alert(x)
}


function OnPlay(value) {
  alert(value)
  console.log(value)
}

function OnReset(value) {
  alert(value)
  console.log(value)
}
function OnSwitch(value) {
  alert(value)
  console.log(value)
}
function OnHome() {
  alert("Go to home")
  console.log("Go to home" )
}





</script>


</div>

<div>
<p>Information</p>
</div



<div>
<p>
<div onclick="OnPlay(1);" style="cursor: pointer; display: inline; border: 5px solid red; padding: 0px; margin: 0px; width:10px">&nbsp;</div><div onclick="OnPlay(2);" style="cursor: pointer; display: inline; border: 5px solid red;  padding: 0px; margin: 0px">2</div><div onclick="OnPlay(3);" style="cursor: pointer; display: inline; border: 5px solid red; padding: 0px; margin: 0px; width:10px">&nbsp;</div>

<div></div>
<div onclick="OnPlay(4);" style="cursor: pointer; display: inline; border: 5px solid red; padding: 0px; margin: 0px; width:10px">&nbsp;</div><div onclick="OnPlay(5);" style="cursor: pointer; display: inline; border: 5px solid red;  padding: 0px; margin: 0px">5</div><div onclick="OnPlay(6);" style="cursor: pointer; display: inline; border: 5px solid red; padding: 0px; margin: 0px; width:10px">&nbsp;</div>
<div></div>
<div onclick="OnPlay(7);" style="cursor: pointer; display: inline; border: 5px solid red; padding: 0px; margin: 0px; width:10px">&nbsp;</div><div onclick="OnPlay(8);" style="cursor: pointer; display: inline; border: 5px solid red;  padding: 0px; margin: 0px">8</div><div onclick="OnPlay(9);" style="cursor: pointer; display: inline; border: 5px solid red; padding: 0px; margin: 0px; width:10px">&nbsp;</div>
</p>
</div>



 <div>
<p>
<span><button name="sub" type="submit" value="Reset" onclick="OnReset(value)">Reset</button></span>
<span><button name="sub" type="submit" value="Switch" onclick="OnSwitch(value)">Switch</button></span>
<span><button name="sub" type="submit" value="Home" onclick="OnHome()">Home</button></span>
</p>
</div>


</body>
</html>