<!DOCTYPE html>
<html>
    <body>

        <form method="post" action="http://localhost:5000/">
                <p>
                <input type="submit" value="x"  disabled/>
                <input type="submit" value="1"  disabled/>
                <input type="submit" value="."  disabled>
                <input type="submit" value="00" name="00"/>
                <input type="submit" value="01" name="01" />
                <input type="submit" value="02" name="02" />
                </p>
                <p>
                <input type="submit" value="10" name="10"/>
                <input type="submit" value="11" name="11" />
                <input type="submit" value="12" name="12" />
                </p>
                <p>
                <input type="submit" value="20" name="20"/>
                <input type="submit" value="21" name="21" />
                <input type="submit" value="22" name="22" />
                </p>

        </form>
    </body>
</html>
