{% extends "layout.html" %}
{% block status %}<h1>{{ player }} has won </h1>{% endblock %}
{% block content %}
<form method="post" action="/play">
        {% for i in range(0, no_of_rows) %}
            <p>
            {% for j in range(0, no_of_columns) %}
                {% set testing =  positions[i][j]  %}
                {% set iter=(i*no_of_columns+j)|string %}
                {% if testing == 0 %}
                    <button name="sub" type="submit" value="{{ iter }}" disabled>..</button>
                {% else %}
                    <button type="submit"  disabled>{{testing}}</button>
                {% endif %}
            {% endfor %}
            </p>
        {% endfor %}
    </form>
<form method="post" action="/reset">
            <p></p>
            <p></p>
            <button name="sub" type="submit" value="Reset" >Reset</button>
 </form>
{% endblock %}