<!DOCTYPE html>
    <html>
        <body>
        <form method="post" action="http://localhost:5000/">
        {% for i in range(0, 3) %}
            <p>
            {% for j in range(0, 3) %}
                {% set testing =  positions[i][j]  %}
                {% set iter=i|string+j|string  %}
                    <button type="submit"  disabled>{{testing}}</button>
            {% endfor %}
            </p>
        {% endfor %}
        </form>
        <h1>{{ player }} has won </h1>
        </body>
    </html>