
html {
    font-family: 'Raleway', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.home-page-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 1)),url(background_side.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hpage-btn-container {
    display: flex;
    align-items: center;
    justify-content: center
}
.hpage-btn-group1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hpage-btn-group2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 2px solid #d15716;
}

.header_hero {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.game-page-body {
    background-image:  linear-gradient(rgba(0,76,76, 0.50),rgba(0,76,76, 0.7));
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.error_info{
    color: red;
    font-size: 30px;
}
.game_info{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 2%;
}
.input-field{
    padding: 12px 16px;
    margin: 16px 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
}

.btn_full{
    background-color: #e86621;
    border:  1px solid #e86621;
    color: #fff;
}

.btn_ghost{
    border:  1px solid #e86621;
    color: #e86621;
}


.btn:hover,
btn:active{
    transition: background-color 0.2s, border 0.2s
}


.btn_full:hover,
.btn_full:active{
    background-color: #d15716;
    border:  1px solid #d15716;
}


.btn_ghost:hover,
btn_ghost:active{
   background-color: #d15716;
    border:  1px solid #d15716;
    color: #fff;
}

.play-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 70px 0;
}

.play-area {
	display: grid;
    width: 60vh;
    height: 60vh;
	grid-template-columns: auto auto auto;
	font-family: "Raleway"
}

.disabled {
	pointer-events: none;
}

.disabled:hover {
	cursor: not-allowed;
}

.cell {
	display: flex;
    width: 20vh;
    height: 20vh;
	align-items: center;
	justify-content: center;
	font-size: 7rem;
	border: 3px solid black;
	transition: background 0.2s ease-in-out;
}

.cell:hover {
	cursor: pointer;
	background: rgba(0,76,76, 0.20);
}

#a,
#b,
#c {
	border-top: none;
}

#a,
#d,
#g {
	border-left: none;
}

#g,
#h,
#i {
	border-bottom: none;
}

#c,
#f,
#i {
	border-right: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 2.5rem;;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.popup-container{
    display:flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}
.popup-badge {
    font-size: 8rem;
    color: green;
}
.popup-text {
    font-size: 2rem;
    font-weight: 400;
}